/* Featured Venues Section Styles */
.featured-venues {
    padding: 0px 0px;
    text-align: center;
}

.featured-venues h2 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-left: 50px;
    text-align: left;
}

.venues {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.venue {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: left;
}

.venue img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}