/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff5722;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    max-height: 30px;
    transition: opacity 0.3s;
}

.social-media img:hover {
    opacity: 0.7;
}
